body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: lightblue;
}

h1{
  padding-left: 20px;
  font-family: cursive;
}
/*Header*/
.header{
  overflow: hidden;
  background-color: black;
}
.header a{
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 19px 19px;
  text-decoration: none;
  font-size: 25px;
}
.header a:hover{
  background-color: #ddd;
  color: black;
  transition: ease-out 0.3s;
}
.header a.Home{
  background-color: blue;
  color: white;
}
.header .Home:hover{
  background-color: #ddd;
  color: black;
  transition: ease-out 0.3s;
}
.header img.webLogo{
  float: left;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}
.btn-dif{
  width: 300px;
  height: 100px;
  border: none;
  color: black;
  background-color: white;
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 2rem;
  outline: none;
}
.btn-dif:hover{
  box-shadow: inset 300px 0 0 0 blue;
  cursor: pointer;
  color: white;
}
.Question{
  padding-left: 20px;
}

*, *::before, *after{
  box-sizing: border-box;
  font-family: sans-serif;
}

:root{
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}
.slideshow-container{
  width: 800px;
  max-width: 80%;
  background: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 05px 05px;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.prev-grid, .next-grid, .check-grid{
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 10px;
  margin: 20px 0;
}

.btn-page{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.prev, .next{
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}
.prev:hover, .next:hover{
  border-color: yellow;
  background-color: blue;
}

.check{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}
.check{
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}
.check:hover{
  border-color: blue;
  background-color: black;
}

.hide{
  display: none:
}
.intro{
  font-family: cursive;
}

.choose{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.learn, .exercise{
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.learn:hover, .exercise:hover{
  border-color: yellow;
  background-color: blue;
  transition: ease-out 0.3s;
}

.table{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.member{
  width: 250px;
  height: 300px;
  background-color: white;
  float: left;
  border: 2px solid black;
}

.footer{
    width: 100%;
    height: 15vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  margin-top:1%;
}
.social-menu ul{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%,-50%);
  display: flex;
}

.social-menu ul li{
  list-style: none;
  margin: 0 15px;
}
.social-menu ul li .fa{
  font-size: 30px;
  line-height: 60px;
  transition: .6s;
  color: #000;
}
.social-menu ul li .fa:hover{
  color: #fff;
}
.social-menu ul li a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.social-menu ul li a:hover{
  transform: translate(0,-10px);
}
.social-menu ul li:nth-child(1) a:hover{
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover{
  background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover{
  background-color: #cd201f;
}
